.header {
  color: black;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #d8d1d1;
  padding: 0px 10px 0px 10px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff !important;
  z-index: 1;
}

.head-logo {
  opacity: 1;
  transition: opacity 0.8s ease-in 0.9s;
}

.small-device-nav{
   display: none;
 }

 .small-device-options{
   margin-top: 100px;
 }

@media (max-width: 1050px) {
  .head-logo {
    display: none;
  }
}

.head-logo.hidden {
  opacity: 0;
}

.head-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.head-search-sec {
  width: 400px;
  height: 40px;
  background-color: #919a9a20;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
}


.head-search-sec > input {
  border: none;
  outline: none;
  width: 500px;
  padding: 7px 15px 7px 15px;
  font-size: 16px;
  background-color: transparent;
}

@media (max-width: 800px) {

   .small-device-nav {
      display: block;
    }

  .head-search-sec {
    width: 100%;
    height: 40px;
    background-color: #919a9a20;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
  }

  .head-search-sec > input {
    border: none;
    outline: none;
    width: 90%;
    padding: 7px 15px 7px 15px;
    font-size: 16px;
    background-color: transparent;
  }

  .header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff !important;
    color: black;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #d8d1d1;
  }

  .head-items {
    display: none;
  }
}

@media (max-width: 480px) {
  .head-search-sec {
    width: 100%;
    height: 40px;
    background-color: #919a9a20;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
  }

  .head-search-sec > input {
    border: none;
    outline: none;
    width: 90%;
    padding: 7px 15px 7px 15px;
    font-size: 16px;
    background-color: transparent;
  }
  
}


.head-search-sec > div {
  border: none;
  background-color: transparent;
  font-size: 22px;
  padding: 5px;
  margin-right: 5px;
}

